#welcome {
    background: url("/images/welcomebackground.jpg") no-repeat center center;
    /* fixed; */
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    /* font-family: "Questrial", sans-serif; */
    /* font-family: "Didact Gothic", sans-serif; */
}

.welcome-inner-box {
    width: 220px;
    height: auto;
    text-align: center;
    /* border: solid; */
}

.welcome-outer-box {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    /* border: solid; */
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

input {
    font-family: "Quicksand", sans-serif;
    border: solid #f6f8f9 1px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
}

button {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border: solid #f6f8f9 1px;
    border-radius: 5px;
    width: 130px;
    background-color: #a7c7e2;
    color: black;
}

button:hover {
    box-shadow: 0 4px 20px 0 #f6f8f9;
    cursor: pointer;
}

.error-message {
    color: red;
    font-style: italic;
}

/* App CSS */
/*
#app__cover-background {
    background: url("/images/coverphoto.jpg") no-repeat center center;
    background-size: cover;
    height: 25%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: solid 20px #f6f8f9;
} */

#profilepic__outer-box img {
    height: 250px;
    width: 250px;
    border: solid 20px #f6f8f9;
    /* position: absolute;
    top: 10%; */
    object-fit: cover;
    object-position: center;
}

/* #profilepic__outer-box {
    left: 0;
    width: 100%;
    height: 100%;
    border: solid;
    background-color: #f6f8f9;
} */

#app__outer-box h1 {
}
