/* * * * * * * * * * * * * * Welcome Page Styling * * * * * * * * * * * * * */

#welcome {
    background: url("/images/welcomebackground.jpg") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    /* font-family: "Questrial", sans-serif; */
    /* font-family: "Didact Gothic", sans-serif; */
}

.welcome-inner-box {
    width: 220px;
    height: auto;
    text-align: center;
}

.welcome-outer-box {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

input {
    font-family: "Quicksand", sans-serif;
    border: solid #f6f8f9 1px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
}

button {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border: solid #f6f8f9 1px;
    border-radius: 5px;
    width: 130px;
    background-color: #a7c7e2;
    color: black;
}

button:hover {
    box-shadow: 0 4px 20px 0 #f6f8f9;
    cursor: pointer;
}

.error-message {
    color: red;
    font-style: italic;
}

/* * * * * * * * * * * * * * App Page Styling * * * * * * * * * * * * * */

header {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0px;
    margin-top: -8px;
    margin-left: -8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #f6f8f9;
    font-family: "Quicksand", sans-serif;
    z-index: 10;
}

header h1 {
    margin-top: 0px;
    text-decoration: none;
    color: black;
    font-size: 40px;
}

header img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin: 5px;
    margin-top: 7px;
    border-radius: 5px;
}

header img:hover {
    cursor: pointer;
}

/* * * * * * * * * * * * * * Profile Page Styling * * * * * * * * * * * * * */

#profile {
    display: flex;
    justify-content: center;
}

#profile__outer-box {
    background: #f6f8f9;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

#profile__cover-background {
    background: url("/images/coverphoto.jpg") no-repeat center center;
    background-size: cover;
    height: 30%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* border-bottom: solid 10px #f6f8f9; */
    z-index: -1;
}

#profile #profilepic__outer-box {
    display: flex;
    justify-content: center;
}

#profile #profilepic__outer-box img {
    height: 200px;
    width: 200px;
    border: solid 15px #f6f8f9;
    border-radius: 10px;
    background: #f6f8f9;
    margin-top: 100px;
    object-fit: cover;
    object-position: center;
    display: flex;
    justify-content: center;
}

#profile__information {
    display: flex;
    align-items: center;
    /* border: solid; */
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
}

#profile__information h1 {
    margin-top: 0px;
}

#bio-button {
    display: flex;
    align-items: center;
    /* border: solid; */
    flex-direction: column;
}

#friend-button {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* * * * * * * * * * * * * * Pic Upload Modal Styling * * * * * * * * * * * * * */

#profilepic-upload__outer-box {
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profilepic-upload__inner-box {
    height: 180px;
    width: 400px;
    background: #f6f8f9;
    font-family: "Quicksand", sans-serif;
    z-index: 12;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilepic-upload__inner-box h2 {
    margin-top: -40px;
}

#profilepic-upload__inner-box form {
    display: flex;
    align-items: center;
    /* border: solid; */
    flex-direction: column;
}

#close-button {
    position: relative;
    top: -30px;
    right: -200px;
}

#close-button h3 {
    color: #a7c7e2;
}

#close-button h3:hover {
    cursor: pointer;
}
